.App {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  max-width: 1024px;
  margin: 0 auto;
}

.search-form input {
  width: 35%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-style: none;
  border: 1px solid lightgrey;
  padding: 8px;
  margin-top: 60px;
  background-color: rgba(211, 211, 211, 0.29);
}

input::placeholder {
  color: black;
}

.search-button {
  background-color: rgb(79, 149, 199);
  border-style: none;
  border: 1px solid rgb(79, 149, 199);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-top: 8.27px;
  padding-bottom: 8.15px;
  width: 35px;
}

svg {
  height: 10px;
}

.main-nav {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.loading {
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width:  50px;
  background: url("./images/loading.gif");
  background-size: cover;
}

.no-results {
  margin-top: 60px;
  color: rgb(66, 63, 63);
}

.list-item {
  margin: 10px 20px 0 0;
  padding: 8px 15px;
  border-radius: 5px;
  background-color: rgb(79, 149, 199);
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.list-item a {
  text-decoration: none;
  color: white;
}

.list-item:hover {
  background-color: rgb(16, 75, 129);
}

.photo-heading {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 60px;
  color: rgb(66, 63, 63);
}

.photo-container {
  width: 90%;
  margin: 0 auto;
}

.photo {
  width: 210px;
  height: 140px;
  margin: 10px 10px;
}

